@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.home {
  top: 39px;
  left: 804px;
  line-height: 22px;
}
.frame1:hover,
.frame2:hover,
.frame:hover,
.home:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.about,
.frame,
.home {
  position: absolute;
}
.about {
  top: calc(50% - 11px);
  left: calc(50% - 23.95px);
  line-height: 22px;
}
.frame {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  width: 111.3px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-blueviolet-100);
}
.projects {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 34.45px);
  line-height: 22px;
}
.frame1 {
  position: absolute;
  top: 0;
  left: 111.3px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  width: 132.3px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
}
.contact {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 32.95px);
  line-height: 22px;
}
.frame2,
.header-menu-2 {
  position: absolute;
  background-color: var(--color-gray-200);
  height: 52px;
}
.frame2 {
  top: 0;
  left: 243.6px;
  border-radius: var(--br-9xs);
  width: 129.3px;
  overflow: hidden;
}
.header-menu-2 {
  top: 24px;
  left: 874px;
  width: 373px;
  color: var(--color-dimgray);
}
.container-92-child {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: #eeefef;
  width: 1355px;
  height: 822px;
}
.harishr {
  position: absolute;
  top: 39px;
  left: 121px;
  font-size: var(--font-size-13xl);
  line-height: 22px;
  font-family: var(--font-jockey-one);
  color: var(--color-black);
  display: inline-block;
  width: 122px;
  height: 43px;
}
.container-92-inner,
.container-92-item {
  position: absolute;
  top: 31px;
  left: 65px;
  border-radius: 50%;
  width: 40px;
  height: 39px;
  object-fit: cover;
}
.container-92-inner {
  top: 27px;
  width: 45px;
  height: 46px;
}
.container-92-inner:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.image-115-icon {
  position: absolute;
  top: 33px;
  left: 252px;
  width: 31px;
  height: 30px;
  object-fit: cover;
}
.p {
  margin: 0;
}
.text {
  position: absolute;
  top: 24px;
  left: 243px;
  font-size: var(--font-size-base);
  text-decoration: underline;
  line-height: 26px;
  font-weight: 700;
  white-space: pre-wrap;
  display: inline-block;
  width: 50px;
  height: 43px;
}
.a-frontend-focused,
.container-92 {
  position: absolute;
  font-family: var(--font-manrope);
}
.container-92 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1331px;
  height: 101px;
  opacity: 0;
  font-size: var(--font-size-sm);
}
.container-92.animate,
.projects1.animate,
.projects2.animate,
.projects3.animate,
.wilsonport.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.a-frontend-focused {
  top: 5014px;
  left: 115px;
  line-height: 26px;
  display: inline-block;
  color: #bdc1ca;
  width: 545px;
}
.projects1,
.projects2,
.projects3,
.wilsonport {
  position: absolute;
  top: 150px;
  left: 559px;
  line-height: 54px;
  opacity: 0;
}
.projects2,
.projects3,
.wilsonport {
  top: 909px;
  left: 540px;
}
.projects3,
.wilsonport {
  top: 1863px;
  left: 450px;
}
.wilsonport {
  top: 497px;
  left: 0;
  line-height: 42px;
  white-space: pre-wrap;
}
.container-94-icon {
  position: absolute;
  top: 0;
  left: 142px;
  border-radius: var(--br-9xs);
  width: 371px;
  height: 455px;
  object-fit: cover;
  opacity: 1;
}
.container-94-icon.animate,
.container-95-icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.container-95-icon,
.frame4 {
  position: absolute;
  top: 22px;
  left: 148px;
  width: 687px;
  height: 581px;
  overflow: hidden;
}
.container-95-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  width: 427px;
  height: 520px;
  object-fit: cover;
  opacity: 1;
}
.wilsonport1 {
  position: absolute;
  top: 520px;
  left: 35px;
  line-height: 42px;
  opacity: 0;
}
.wilsonport1.animate,
.wilsonport2.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.frame5 {
  position: absolute;
  top: 5px;
  left: 1068px;
  width: 481px;
  height: 562px;
  overflow: hidden;
}
.wilsonport2 {
  position: absolute;
  top: 516px;
  left: 0;
  line-height: 42px;
  white-space: pre-wrap;
  opacity: 0;
}
.container-96-icon {
  position: absolute;
  top: 0;
  left: 81px;
  border-radius: var(--br-9xs);
  width: 385px;
  height: 516px;
  object-fit: cover;
  opacity: 1;
}
.container-96-icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.frame6,
.intern {
  position: absolute;
}
.frame6 {
  top: 9px;
  left: 1839px;
  width: 499px;
  height: 558px;
  overflow: hidden;
}
.intern {
  top: 1980px;
  left: 185px;
  width: 1149px;
  height: 629px;
  overflow-x: auto;
  font-size: var(--font-size-9xl);
}
.scroll-,
.scroll-1 {
  position: absolute;
  top: 1752px;
  left: 608px;
  font-size: var(--font-size-xl);
  line-height: 30px;
  display: inline-block;
  color: var(--color-black);
  text-align: center;
  width: 247px;
  height: 58px;
  opacity: 1;
}
.scroll-.animate,
.scroll-1.animate {
  animation: 1s ease 0s infinite normal forwards wobble-hor-bottom;
}
.scroll-1 {
  top: 712px;
  left: 584px;
}
.container-100 {
  position: absolute;
  top: 1124px;
  left: -20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1362px;
  height: 3239px;
}
.here-you-will {
  top: 232px;
  left: 202px;
  display: inline-block;
  text-align: center;
  width: 976px;
}
.about-me.animate,
.community-feel-free.animate,
.get-to-know.animate,
.here-you-will.animate,
.im-a-frontend.animate,
.im-open-to-container.animate,
.my-skills.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.community-feel-free,
.here-you-will,
.im-open-to-container {
  position: absolute;
  font-size: var(--font-size-xl);
  line-height: 30px;
  font-family: var(--font-lexend);
  color: var(--color-darkslategray);
  opacity: 0;
}
.im-open-to-container {
  top: 778px;
  left: 58px;
  display: inline-block;
  width: 779px;
}
.community-feel-free {
  top: 696px;
  left: 59px;
}
.im-a-frontend,
.post-useful-content {
  position: absolute;
  line-height: 28px;
  color: var(--color-darkslategray);
}
.im-a-frontend {
  top: 481px;
  left: 68px;
  display: inline-block;
  width: 569px;
  height: 181px;
  opacity: 0;
}
.post-useful-content {
  top: 731px;
  left: 59px;
  white-space: pre-wrap;
}
.about-me {
  position: absolute;
  top: 144px;
  left: 533px;
  font-size: var(--font-size-19xl);
  line-height: 54px;
  font-family: var(--font-lexend);
  color: var(--color-gray-100);
  opacity: 0;
}
.then-dont-hesitate {
  position: absolute;
  top: 849px;
  left: 58px;
  line-height: 28px;
  color: var(--color-darkslategray);
}
.get-to-know,
.my-skills {
  position: absolute;
  top: 429px;
  left: 59px;
  font-size: var(--font-size-9xl);
  line-height: 42px;
  font-family: var(--font-lexend);
  color: var(--color-gray-100);
  opacity: 0;
}
.my-skills {
  left: 789px;
}
.contact1 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 42px);
  text-decoration: underline;
  line-height: 28px;
  color: inherit;
}
.button-12 {
  position: absolute;
  top: 909px;
  left: 57.7px;
  border-radius: var(--br-9xs);
  background-color: var(--color-blueviolet-100);
  width: 209px;
  height: 52px;
  overflow: hidden;
  opacity: 1;
  color: var(--color-white);
}
.button-12.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.responsive-design {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 79px);
  line-height: 28px;
}
.button-17 {
  position: absolute;
  top: 572px;
  left: 988.5px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 198px;
  height: 52px;
  overflow: hidden;
}
.javascript {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 43.5px);
  line-height: 28px;
}
.button-20 {
  position: absolute;
  top: 506px;
  left: 988.5px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 130px;
  height: 52px;
  overflow: hidden;
}
.sql-basics {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 87.5px);
  line-height: 28px;
}
.button-21 {
  position: absolute;
  top: 640px;
  left: 786px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 224px;
  height: 52px;
  overflow: hidden;
}
.github {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 28px);
  line-height: 28px;
}
.button-22 {
  position: absolute;
  top: 573px;
  left: 875px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 101px;
  height: 52px;
  overflow: hidden;
}
.html {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 23.5px);
  line-height: 28px;
}
.button-23 {
  position: absolute;
  top: 506px;
  left: 786px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 92px;
  height: 52px;
  overflow: hidden;
}
.react {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 24.5px);
  line-height: 28px;
}
.button-24 {
  position: absolute;
  top: 506px;
  left: 1132px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 91px;
  height: 52px;
  overflow: hidden;
}
.sass {
  top: calc(50% - 14px);
  left: calc(50% - 22.5px);
  line-height: 28px;
}
.button-25,
.css,
.sass {
  position: absolute;
}
.button-25 {
  top: 506px;
  left: 1239px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 87px;
  height: 52px;
  overflow: hidden;
}
.css {
  top: calc(50% - 14px);
  left: calc(50% - 17.5px);
  line-height: 28px;
}
.button-26 {
  top: 506px;
  left: 893px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 76px;
  height: 52px;
  overflow: hidden;
}
.button-26,
.button-27,
.git {
  position: absolute;
}
.git {
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  line-height: 28px;
}
.button-27 {
  top: 572px;
  left: 786px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 74px;
  height: 52px;
  overflow: hidden;
}
.container-98,
.frame3 {
  position: absolute;
  left: 0;
}
.container-98 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: #f3f4f6;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 1355px;
  height: 1124px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-manrope);
}
.frame3 {
  top: 904px;
  width: 1333px;
  height: 3939px;
  overflow: hidden;
  font-size: var(--font-size-19xl);
}
.hey-im-ram {
  position: absolute;
  top: 355px;
  left: 363px;
  font-size: 36px;
  line-height: 74px;
  display: inline-block;
  width: 498px;
  height: 83px;
  opacity: 0;
}
.a-frontend-focused1.animate,
.hey-im-ram.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.chat-with-me {
  position: absolute;
  top: 13.3px;
  left: 18px;
  text-decoration: underline;
  line-height: 26px;
  color: inherit;
}
.image-118-icon {
  position: absolute;
  top: 10px;
  left: 139px;
  border-radius: var(--br-9xs);
  width: 26px;
  height: 28px;
  object-fit: cover;
}
.container-88 {
  position: absolute;
  top: 782px;
  left: 1062px;
  border-radius: 19.54px;
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border: 1px solid #9095a0;
  box-sizing: border-box;
  width: 182px;
  height: 49px;
  font-family: var(--font-manrope);
}
.a-frontend-focused1 {
  position: absolute;
  top: 0;
  left: 197px;
  line-height: 34px;
  display: inline-block;
  width: 890px;
  opacity: 0;
}
.projects4 {
  position: absolute;
  top: 27.4px;
  left: 93px;
  line-height: 28px;
}
.image-117-icon,
.project {
  position: absolute;
  border-radius: var(--br-9xs);
}
.image-117-icon {
  top: 28px;
  left: 1101px;
  width: 39px;
  height: 40px;
  object-fit: cover;
}
.project {
  top: 172px;
  left: 493px;
  background-color: #7843e9;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  width: 299px;
  height: 76px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.project:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.project:active {
  animation: 1s ease 0s infinite normal none scale-down-center;
  opacity: 1;
}
.frame7 {
  position: absolute;
  top: 438px;
  left: 47px;
  width: 1236px;
  height: 344px;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
}
.harish1-icon {
  position: absolute;
  top: 309px;
  left: 120px;
  border-radius: 50%;
  width: 223px;
  height: 232px;
  object-fit: cover;
}
.harish1-icon:hover {
  animation: 1s ease 0s infinite normal none flip-horizontal-bottom;
  opacity: 1;
}
.harishr1 {
  position: absolute;
  top: 4951px;
  left: 91px;
  font-size: var(--font-size-13xl);
  line-height: 22px;
  font-family: var(--font-jockey-one);
  color: var(--color-white);
  display: inline-block;
  width: 122px;
  height: 43px;
}
.image-115-icon1 {
  position: absolute;
  top: 4984px;
  left: 1152px;
  width: 31px;
  height: 30px;
  object-fit: cover;
}
.text1 {
  position: absolute;
  top: 4975px;
  left: 1143px;
  text-decoration: underline;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--font-manrope);
  white-space: pre-wrap;
  display: inline-block;
  width: 50px;
  height: 43px;
}
.frame-child {
  height: 251px;
  width: 257px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
}
.frame-child.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.dopefolio,
.dopefolio-is-a {
  position: relative;
  display: inline-block;
}
.dopefolio {
  height: 42px;
  line-height: 42px;
  text-align: center;
  opacity: 0;
}
.dopefolio.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.dopefolio-is-a {
  height: 112px;
  width: 500px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-manrope);
  color: #9095a1;
  flex-shrink: 0;
  opacity: 1;
}
.dopefolio-is-a.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.apex-icon {
  height: 236px;
  width: 240px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
}
.apex-icon.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.dopefolio1,
.wilsonport-is-a {
  height: 42px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  opacity: 0;
}
.dopefolio1.animate,
.wilsonport-is-a.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.wilsonport-is-a {
  height: 113px;
  width: 737px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-manrope);
  color: var(--color-darkslategray);
  flex-shrink: 0;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 2415px;
  height: 285px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.type-2-loosely-convert-to-vis-inner {
  position: absolute;
  top: 2389px;
  left: 105px;
  width: 1122px;
  height: 359px;
  overflow-x: auto;
  opacity: 1;
  font-size: var(--font-size-9xl);
}
.type-2-loosely-convert-to-vis-inner.animate {
  animation: 1s ease 0s 1 normal forwards shake-horizontal;
}
.wilsonport3 {
  position: absolute;
  top: 545px;
  left: 0;
  line-height: 42px;
  opacity: 0;
}
.wilsonport3.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.container-94-icon1 {
  position: absolute;
  top: 31px;
  left: 59px;
  border-radius: var(--br-9xs);
  width: 745px;
  height: 428px;
  object-fit: cover;
  opacity: 1;
}
.container-94-icon1.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.wilsonport4,
.wilsonport5,
.wilsonport6 {
  position: absolute;
  top: 551px;
  left: 1110px;
  line-height: 42px;
  opacity: 0;
}
.wilsonport4.animate,
.wilsonport5.animate,
.wilsonport6.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.wilsonport5,
.wilsonport6 {
  left: 2133px;
}
.wilsonport6 {
  left: 3040px;
}
.container-95-icon1 {
  top: 36px;
  left: 1064px;
  border-radius: var(--br-9xs);
  width: 745px;
  height: 428px;
  overflow: hidden;
  opacity: 1;
}
.container-95-icon1.animate,
.container-96-icon1.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.container-95-icon1,
.container-96-icon1,
.frame-item {
  position: absolute;
  object-fit: cover;
}
.container-96-icon1 {
  top: 0;
  left: 2014px;
  border-radius: var(--br-9xs);
  width: 701px;
  height: 500px;
  overflow: hidden;
  opacity: 1;
}
.frame-item {
  top: 21px;
  left: 3060px;
  border-radius: 50%;
  width: 424px;
  height: 430px;
}
.wilsonport-parent {
  position: absolute;
  top: 3083px;
  left: 121px;
  width: 1149px;
  height: 629px;
  overflow-x: auto;
  font-size: var(--font-size-9xl);
}
.type-2-loosely-convert-to-vis {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  height: 5179px;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-lexend);
}
